<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>icanhasscoialskills.com: People I'm supposed to meet at this event</title>
<style type="text/css">
<!--
body,td,th {
	font-family: Arial Rounded MT Bold, Arial Bold, Arial, sans-serif;
	font-size: 12px;
	color: #666;
	width:5000px;
}
body {
	background-color: #FFF;
}
a:link {
	color: #999999;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #990000;
}
a:hover {
	text-decoration: underline;
	color: #990000;
}
a:active {
	text-decoration: none;
	color: #990000;
}
h1 {
	color: #990000;
	font-size:30px;
	font-family: "Arial Rounded MT Bold", "Arial Bold", Arial, sans-serif;
	padding:0;
	margin:0;
}
h3 {
	color: #669933;
	font-family:"Arial Rounded MT Bold", "Arial Bold", Arial, sans-serif;
	font-size:18px;
}
h4 {
	color: #669933;
	font-family:"Arial Rounded MT Bold", "Arial Bold", Arial, sans-serif;
	font-size:14px;
	font-style:italic;
}
#wrapper {
	width: 320px;
	height: 480px;
	float:left;
	margin-right: 50px;
}
.photo {
	width: 100px;
	height:100px;
	margin: 10px;
	border: 2px solid #999999;
}
.taglist {
	text-align:center;

}
.taglist ul {
	list-style-type:none;
	margin: 0;
	padding:0;	
}
.taglist li {
	display:inline;
	margin-right: 10px;
}
-->
</style></head>

<body>

<div id="wrapper">
<h1>Edwin PinkSlipMixer <h1>
<h4><a href="http://twitter.com/PinkSlipped">@PinkSlipped</a></h4>
<img src="http://a1.twimg.com/profile_images/557217344/EdwinDuterte_normal.jpg" class="photo" />
<h3>California and beyond</h3>
<p>Grass-roots Community That Networks To Find Each Other Jobs. At our Pink Slip Parties, use #PinkSlipMixers to tweet out. See you at the mixer!</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Shai Goldman<h1>
<h4><a href="http://twitter.com/shaig">@shaig</a></h4>
<img src="http://a3.twimg.com/profile_images/730099265/shai_normal.jpg" class="photo" />
<h3>San Francisco, California</h3>
<p>work w/ tech startups &amp; VCs: mobile apps, gaming, digital media, social media, SaaS: work @SVB_Financial, volunteer @SVYAD, Family @kanyarg &amp; @roccodogg</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Justin I<h1>
<h4><a href="http://twitter.com/justinisaf">@justinisaf</a></h4>
<img src="http://a3.twimg.com/profile_images/831472089/me_normal.jpg" class="photo" />
<h3></h3>
<p>Recovering entrepreneur moving to NYC. Looking for work in a startup as a community manager</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Lydia Sugarman<h1>
<h4><a href="http://twitter.com/lksugarman">@lksugarman</a></h4>
<img src="http://a3.twimg.com/profile_images/449627287/ConfientMe0209_normal.gif" class="photo" />
<h3>San Francisco</h3>
<p>Develop + execute integrated social media, email mktg., CRM strategies w/ 10+ yrs. track record. Entrepreneur. Cyclist, swimmer. TrendBlog (http://bit.ly/ad20yM</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Leonid S. Knyshov<h1>
<h4><a href="http://twitter.com/wiseleo">@wiseleo</a></h4>
<img src="http://a1.twimg.com/profile_images/279619490/green_7771_headshot1_normal.jpg" class="photo" />
<h3>Silicon Valley</h3>
<p>Social media account management and a world-class IT expert. Also: entrepreneur, speaker, online dating, SEO, and data recovery expert. SYTYCD S5 contestant. :)</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>BayArea Events<h1>
<h4><a href="http://twitter.com/WhatToDoBay">@WhatToDoBay</a></h4>
<img src="http://a3.twimg.com/profile_images/541945969/BayArea_normal.jpg" class="photo" />
<h3>San Francisco Bay Area</h3>
<p>Bay Area Events</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Perrine V. Crampton<h1>
<h4><a href="http://twitter.com/pcrampton">@pcrampton</a></h4>
<img src="http://a3.twimg.com/profile_images/773990699/Me-2009_normal.jpg" class="photo" />
<h3>Silcon Valley, CA</h3>
<p>People Empowering Program Manager (PMP certified) specializing in SW, Hosting &amp; Social Media. Paying it forward whenever/wherever possible!</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>NW Angel<h1>
<h4><a href="http://twitter.com/NWAngel">@NWAngel</a></h4>
<img src="http://a3.twimg.com/profile_images/202830993/ist2_6890706-tree-of-life-1_normal.jpg" class="photo" />
<h3>Mercer Island, WA</h3>
<p>Pacific NW Social Venture Broker and Angel Investor - Area of focus -  healthcare, mHealth, Health IT, social media</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>TechPolicy<h1>
<h4><a href="http://twitter.com/TechPolicy">@TechPolicy</a></h4>
<img src="http://a1.twimg.com/profile_images/423083538/JustSwirl-gif_normal.gif" class="photo" />
<h3>Silicon Valley</h3>
<p>Natalie Fonseca, co-founder/executive producer of Tech Policy Summit and pii (privacy identity innovation). Learn more at TechPolicyCentral.com &amp;  pii2010.com.</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Rob Garcia<h1>
<h4><a href="http://twitter.com/robgarciasj">@robgarciasj</a></h4>
<img src="http://a3.twimg.com/profile_images/53793099/My_Profile_Photo_normal.jpg" class="photo" />
<h3>Silicon Valley</h3>
<p>Raising kids, staying fit, finding peace and taking P2P / Social lending mainstream @LendingClub</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Crystal Yan (严晨)<h1>
<h4><a href="http://twitter.com/crystalcy">@crystalcy</a></h4>
<img src="http://a1.twimg.com/profile_images/771842540/SL378863_-_Sm_normal.JPG" class="photo" />
<h3>San Francisco Bay Area</h3>
<p>Trilingual Chinese-American 17-yrs-young Social Entrepreneur, Blogger, Graphic Designer. You can email me here: http://bit.ly/contactcy</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Aaron Graham<h1>
<h4><a href="http://twitter.com/awgraham">@awgraham</a></h4>
<img src="http://a1.twimg.com/profile_images/741338624/aaron_profile_pic_march_2010_normal.jpg" class="photo" />
<h3>SF Bay Area</h3>
<p>Online Optimizer &amp; Web Analyst | Lover of food, music, tech, and most things Japanese</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Seth McGuinness<h1>
<h4><a href="http://twitter.com/smcguinness">@smcguinness</a></h4>
<img src="http://a3.twimg.com/profile_images/178883379/twtpic_normal.jpg" class="photo" />
<h3>Frisco, TX</h3>
<p>Day: Web Developer @ Thomson Reuters Night: Entrepreneur. @twtseat. @findapark.                                                  Texas Tech Alum</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>myrnarivera<h1>
<h4><a href="http://twitter.com/myrnarivera">@myrnarivera</a></h4>
<img src="http://a3.twimg.com/profile_images/745996989/twitterpic_normal.bmp" class="photo" />
<h3>Northern California, USA</h3>
<p>Communications Mgr at PayPal, mom, wife, sister, daughter, good friend (not in order of importance)</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>anjelika<h1>
<h4><a href="http://twitter.com/anjelikadeo">@anjelikadeo</a></h4>
<img src="http://a3.twimg.com/profile_images/691005241/anjelika_normal.jpg" class="photo" />
<h3></h3>
<p>passionate on healthcare, changing world w/ social innovations, surfing (web/H2O), philanthropy, photography, design, baking, eating, tweet @sfballetENCORE</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Jennie Lees<h1>
<h4><a href="http://twitter.com/jennielees">@jennielees</a></h4>
<img src="http://a1.twimg.com/profile_images/429350006/Photo_5_normal.jpg" class="photo" />
<h3>San Francisco</h3>
<p>Solving information overload one thumb at a time. Entrepreneur, blogger, coder, gamer, multitasker and social maven.</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

</body></html>
