<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>icanhasscoialskills.com: People I'm supposed to meet at this event</title>
<style type="text/css">
<!--
body,td,th {
	font-family: Arial Rounded MT Bold, Arial Bold, Arial, sans-serif;
	font-size: 12px;
	color: #666;
	width:5000px;
}
body {
	background-color: #FFF;
}
a:link {
	color: #999999;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #990000;
}
a:hover {
	text-decoration: underline;
	color: #990000;
}
a:active {
	text-decoration: none;
	color: #990000;
}
h1 {
	color: #990000;
	font-size:30px;
	font-family: "Arial Rounded MT Bold", "Arial Bold", Arial, sans-serif;
	padding:0;
	margin:0;
}
h3 {
	color: #669933;
	font-family:"Arial Rounded MT Bold", "Arial Bold", Arial, sans-serif;
	font-size:18px;
}
h4 {
	color: #669933;
	font-family:"Arial Rounded MT Bold", "Arial Bold", Arial, sans-serif;
	font-size:14px;
	font-style:italic;
}
#wrapper {
	width: 320px;
	height: 480px;
	float:left;
	margin-right: 50px;
}
.photo {
	width: 100px;
	height:100px;
	margin: 10px;
	border: 2px solid #999999;
}
.taglist {
	text-align:center;

}
.taglist ul {
	list-style-type:none;
	margin: 0;
	padding:0;	
}
.taglist li {
	display:inline;
	margin-right: 10px;
}
-->
</style></head>

<body>

<div id="wrapper">
<h1>Lydia Sugarman<h1>
<h4><a href="http://twitter.com/lksugarman">@lksugarman</a></h4>
<img src="http://a3.twimg.com/profile_images/449627287/ConfientMe0209_normal.gif" class="photo" />
<h3>San Francisco</h3>
<p>Develop + execute integrated social media, email mktg., CRM strategies w/ 10+ yrs. track record. Entrepreneur. Cyclist, swimmer. TrendBlog (http://bit.ly/ad20yM</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Leonid S. Knyshov<h1>
<h4><a href="http://twitter.com/wiseleo">@wiseleo</a></h4>
<img src="http://a1.twimg.com/profile_images/279619490/green_7771_headshot1_normal.jpg" class="photo" />
<h3>Silicon Valley</h3>
<p>Social media account management and a world-class IT expert. Also: entrepreneur, speaker, online dating, SEO, and data recovery expert. SYTYCD S5 contestant. :)</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Patricia Araque<h1>
<h4><a href="http://twitter.com/patriciaaraque">@patriciaaraque</a></h4>
<img src="http://a3.twimg.com/profile_images/584110545/5895_1170159063297_1507597644_444931_149073_n_normal.jpg" class="photo" />
<h3>Madrid (SP)</h3>
<p>I&#39;m a full time entrepreneur! Involved in @ellas2 @opinno @atalayaform (And you can swear I&#39;m not blonde)</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>ʎןɐǝɥ uɐǝs<h1>
<h4><a href="http://twitter.com/seanhealy">@seanhealy</a></h4>
<img src="http://a3.twimg.com/profile_images/632259795/Ashley-Daniel-1573-new-small_normal.jpg" class="photo" />
<h3>53.518818,-113.515757</h3>
<p>Just a simple time traveler.</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Perrine V. Crampton<h1>
<h4><a href="http://twitter.com/pcrampton">@pcrampton</a></h4>
<img src="http://a3.twimg.com/profile_images/773990699/Me-2009_normal.jpg" class="photo" />
<h3>Silcon Valley, CA</h3>
<p>People Empowering Program Manager (PMP certified) specializing in SW, Hosting &amp; Social Media. Paying it forward whenever/wherever possible!</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>jeffiel<h1>
<h4><a href="http://twitter.com/jeffiel">@jeffiel</a></h4>
<img src="http://a1.twimg.com/profile_images/787664538/about_photo_jeff_normal.png" class="photo" />
<h3>San Francisco, CA</h3>
<p>Entrepreneur, CEO and Co-founder of Twilio.  </p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Sudha Jamthe<h1>
<h4><a href="http://twitter.com/sujamthe">@sujamthe</a></h4>
<img src="http://a3.twimg.com/profile_images/409217393/5807_1401991_normal.jpg" class="photo" />
<h3>iPhone: 37.361406,-121.997871</h3>
<p>Passionate about innovative communities, mobile, run @facebookmeetup,#twittermeetup, MIT venture mentor, social media strategist @paypalx , @tmeet</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Jeffrey Char<h1>
<h4><a href="http://twitter.com/JSeedVentures">@JSeedVentures</a></h4>
<img src="http://a3.twimg.com/profile_images/783260737/J-Seed_Mini_Logo_Only_2010_normal.JPG" class="photo" />
<h3>Tokyo, Japan</h3>
<p>J-Seed Ventures, Inc.      Serial entrepreneur</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Rob Garcia<h1>
<h4><a href="http://twitter.com/robgarciasj">@robgarciasj</a></h4>
<img src="http://a3.twimg.com/profile_images/53793099/My_Profile_Photo_normal.jpg" class="photo" />
<h3>Silicon Valley</h3>
<p>Raising kids, staying fit, finding peace and taking P2P / Social lending mainstream @LendingClub</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Seth McGuinness<h1>
<h4><a href="http://twitter.com/smcguinness">@smcguinness</a></h4>
<img src="http://a3.twimg.com/profile_images/178883379/twtpic_normal.jpg" class="photo" />
<h3>Frisco, TX</h3>
<p>Day: Web Developer @ Thomson Reuters Night: Entrepreneur. @twtseat. @findapark.                                                  Texas Tech Alum</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>NW Angel<h1>
<h4><a href="http://twitter.com/NWAngel">@NWAngel</a></h4>
<img src="http://a3.twimg.com/profile_images/202830993/ist2_6890706-tree-of-life-1_normal.jpg" class="photo" />
<h3>Mercer Island, WA</h3>
<p>Pacific NW Social Venture Broker and Angel Investor - Area of focus -  healthcare, mHealth, Health IT, social media</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Joey Pomerenke<h1>
<h4><a href="http://twitter.com/JoeyPomerenke">@JoeyPomerenke</a></h4>
<img src="http://a1.twimg.com/profile_images/744952118/2a160e3_normal.jpg" class="photo" />
<h3>Dallas, Texas</h3>
<p>Internet Marketer, Entrepreneur, Startup Enthusiast, Travel Junkie, Coffee Lover, Beer Connoisseur and just a really cool guy!</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Chip Rodgers<h1>
<h4><a href="http://twitter.com/chiprodgers">@chiprodgers</a></h4>
<img src="http://a3.twimg.com/profile_images/742304593/Chip_LV_2008_Cropped_Square_normal.jpg" class="photo" />
<h3>ÜT: 40.06067,-75.557097</h3>
<p>VP/COO, SAP Community Network.  SDN, BPX, BOC, Social media, large events (TechEd).  Views are mine, not necessarily SAP&#39;s.</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>shaherose<h1>
<h4><a href="http://twitter.com/shaherose">@shaherose</a></h4>
<img src="http://a1.twimg.com/profile_images/419732064/n526335360_3338962_9588_normal.jpg" class="photo" />
<h3>iPhone: 37.373374,-121.918326</h3>
<p>Mobilista. Passionista. By day: VP @opinno, by weekend, consumer mobile entrepreneur, by nite: CEO/Founder, @women2 ALWAYS: enabling #startups, #innovation</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Jonas Huckestein<h1>
<h4><a href="http://twitter.com/jonashuckestein">@jonashuckestein</a></h4>
<img src="http://a3.twimg.com/profile_images/684488215/main_normal.jpg" class="photo" />
<h3>Berkeley, CA</h3>
<p>Altrupreneur, Coder, Researcher</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Chris McCann<h1>
<h4><a href="http://twitter.com/cmccann7">@cmccann7</a></h4>
<img src="http://a3.twimg.com/profile_images/583243245/chris_black_and_white_normal.jpg" class="photo" />
<h3>Palo Alto</h3>
<p>I&#39;m an entrepreneur, startup junkie, co-founder of the [Startup Digest], TEDx Silicon Valley #GoaP, and I love food</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>anjelika<h1>
<h4><a href="http://twitter.com/anjelikadeo">@anjelikadeo</a></h4>
<img src="http://a3.twimg.com/profile_images/691005241/anjelika_normal.jpg" class="photo" />
<h3></h3>
<p>passionate on healthcare, changing world w/ social innovations, surfing (web/H2O), philanthropy, photography, design, baking, eating, tweet @sfballetENCORE</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

<div id="wrapper">
<h1>Shai Goldman<h1>
<h4><a href="http://twitter.com/shaig">@shaig</a></h4>
<img src="http://a3.twimg.com/profile_images/730099265/shai_normal.jpg" class="photo" />
<h3>San Francisco, California</h3>
<p>work w/ tech startups &amp; VCs: mobile apps, gaming, digital media, social media, SaaS: work @SVB_Financial, volunteer @SVYAD, Family @kanyarg &amp; @roccodogg</p>
<!--
<div class="taglist">
<ul>
<li><a href="#">web developer</a></li>
<li><a href="#">system admin</a></li>
<li><a href="#">high tech</a></li>
</ul>
</div>-->
</div>

</body></html>
